<template>
  <component
    class="header__menu-point"
    :is="sublist ? 'span' : 'a'"
    :href="link"
    @click="isShow = !isShow"
  >
    {{title}}
    <ul v-if="isShow">
      <li
        v-for="item in sublist"
        :key="item.title"
      >
        <a :href="item.link">{{ item.title }}</a>
      </li>
    </ul>
  </component>
</template>

<script>
  export default {
    name: "HeaderMenuLink",
    props: {
      title: {
        type: String,
        default: 'Props'
      },
      link: {
        type: String,
        default: ''
      },
      sublist: {
        type: Array,
        default: undefined
      },
      selector: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      isShow: false,
      selected: undefined
    })
  }
</script>

<style scoped lang="scss">
  .header__menu-point {
    &, a {
      ;
      font-size: 14px;
      line-height: 20px;

      color: #FFFFFF;
      text-decoration: none;
      margin: 0 16px;

      position: relative;
      cursor: pointer;
    }
    a {
      color: #222222;
      margin: 0;
    }
    ul {
      position: absolute;
      background-color: white;
      max-width: 200%;
      padding: 10px;
      box-sizing: border-box;
      top: 100%;
      left: 0;
      border-radius: 3px;
      box-shadow: 5px 5px 5px rgba(0,0,0,.05);
    }
    li {
      line-break: keep-all;
    }
  }

</style>
