<template>
  <div class="banner-app">
    <img
      class="banner-app__image"
      :src="require(`~/assets/images/apps/${ image }`)"
      :alt="image"
    >
    <div class="banner-app__title">
      <slot></slot>
    </div>
    <div class="banner-app__subtitle">
      {{ subtitle }}
    </div>
    <div class="banner-app__icons">
      <PlatformIcon
        v-for="platform in platforms"
        :key="platform.name"
        :name="platform.name"
        :link="platform.link"
        :icon-name="platform.iconName"
      />
    </div>
  </div>
</template>

<script>
  import PlatformIcon from "./PlatformIcon";
  export default {
    name: "BannerApp",
    components: {PlatformIcon},
    props: {
      image: {
        type: String,
        default: 'lunacy.png'
      },
      subtitle: {
        type: String,
        default: 'Test'
      },
      platforms: {
        type: Array,
        default: () => [
          {
            name: 'Windows',
            iconName: 'windows.svg',
            link: "https://icons8.com",
          }
        ]
      }
    }
  }
</script>

<style scoped lang="scss">
  .banner-app {
    &--plugin {
      .banner-app__image {
        box-shadow: none;
      }
    }

    &__image {
      width: 100%;
      border-radius: 4px;
      display: block;
      margin-bottom: 30px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    &__title {
      ;
      font-weight: 500;
      font-size: 21px;
      line-height: 24px;

      a {
        color: #1FB141;
        padding-bottom: 2px;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(31, 177, 65, 0.2);
      }
    }

    &__subtitle {
      margin: 16px 0 30px;
      font-family: SFUIText-Regular, sans-serif;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: -0.01em;
      color: #000000;
    }

  }
</style>
