<template>
  <a
    :href="link"
    class="platform-icon"
  >
    <img
      :src="require(`~/assets/icons/platforms/${iconName}`)"
      :alt="`${ name } icon`"
    >
    <span>{{ name }}</span>
  </a>
</template>

<script>
  export default {
    name: "PlatformIcon",
    props: {
      name: {
        type: String,
        default: "Windows",
      },
      iconName: {
        type: String,
        default: "windows.svg",
      },
      link: {
        type: String,
        default: "https://icons8.com",
      }
    }
  }
</script>

<style scoped lang="scss">
  .platform-icon {
    text-decoration: none;
    background: rgba(31, 177, 65, 0.1);
    padding: 8px 15px;
    border-radius: 4px;
    margin-right: 16px;
    span {
      color: #1FB141;
      font-family: SFUIText-Regular, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 30px;
      margin-left: 7px;
    }

  }
</style>
