<template>
  <div style="position:relative;">
    <section class="banner">
      <div class="banner__content">
        <div class="banner__title">
          Instant icons
        </div>
        <div class="banner__subtitle banner__text">
          Use the icons in a geeky way: by writing code. <br> Hosted with a production-scale CDN.
        </div>
        <AutocompleteField class="banner__field" placeholder="enter-icon-name"></AutocompleteField>
        <div class="banner__text banner__text--remark">
          Integrate our icons to your projects. <a href="https://icons8.com">Read more</a>
        </div>
      </div>
      <div class="banner__pattern">
        <div
          class="banner__pattern-element"
          v-for="i in 18"
          :key="i"
        />
        <div class="banner__pattern-element banner__pattern-element--square" />
        <div
          class="banner__pattern-element"
          v-for="i in 9"
          :key="i+19"
        />
        <div class="banner__pattern-element banner__pattern-element--square" />
        <div class="banner__pattern-element" />
      </div>
    </section>
  </div>
</template>

<script>
  import AutocompleteField from "~/components/elements/fields/AutocompleteField";

  export default {
    name: "AppBanner",
    components: {AutocompleteField}
  }
</script>

<style scoped lang="scss">
  .banner {
    background: #222222;
    color: white;
    height: 504px;

    position: relative;

    &__content {
      width: 50%;
      padding-top: 84px;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      @media screen and (max-width: 767px) {
        margin: 40px 25px;
        width: auto;
      }
    }

    &__title {
      ;
      font-weight: 900;
      font-size: 66px;
      line-height: 76px;
      text-align: center;
      letter-spacing: -0.03em;

      @media screen and (max-width: 767px) {
        font-size: 40px;
      }
    }

    &__field {
      @media screen and (max-width: 767px) {
        margin-top: 60px;
      }
    }

    &__text {
      ;
      font-size: 21px;
      line-height: 34px;

      text-align: center;
      letter-spacing: -0.01em;
      margin: 30px 0 50px;

      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }

      &--remark {
        font-size: 17px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.5);
        a {
          color: #1FB141;
          text-decoration: none;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -5px;
            height: 1px;
            background-color: #1FB141;
            opacity: .2;
          }
        }
      }
    }

    &__pattern {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;

      display: flex;
      flex-wrap: wrap;

      &-element {
        width: 10vw;
        height: 10vw;
        background: rgb(41, 41, 41);
        border-radius: 50%;

        &--square {
          border-radius: 0;
        }
      }
    }
  }
</style>
