<template>
  <section class="content">
    <div class="content__wrapper">
      <ContentBox title="Hello, world!">
        <intersection-observer @intersect-enter="changeStickyIconState('avocado')">
          <p>
            Insert the <code><\img></code> tag directly into your HTML. Icons8 will find the matching icon and generate
            it in the right
            style, size, and color.
          </p>
        </intersection-observer>
        <ContentCodeBlock v-observe-visibility="changeStickyIconState('avocado')">
          &lt;img src=<span class="cb--green">"https://img.icons8.com/<span class="cb--violet">avocado</span>"</span>>
        </ContentCodeBlock>
        <p>
          In this example, an avocado icon in our most popular style will be added. Without additional specification
          the icon will display in the default resolution and color for the given style (50px, black as seen here).
        </p>
        <p>
          For the icon names consists of two words and more, use - or _ to separate. For example: left‐arrow.
        </p>
        <p>
          To see what we have, try searching our web app or download our apps for Mac and Windows — it's free, handy,
          and works offline.
        </p>
      </ContentBox>
      <ContentBox
        title="Color"
      >
        <ContentCodeBlock>
          &lt;img src=<span class="cb--green">"https://img.icons8.com/<span
            class="cb--violet">1FB141</span>/avocado"</span>>
        </ContentCodeBlock>
        <intersection-observer @intersect-enter="changeStickyIconState('avocadoColor')">
          <p>Icon recolored to #1FB141. You may add a color hex code to the URL to automatically recolor your icon. </p>
        </intersection-observer>
      </ContentBox>
      <ContentBox title="Style">
        <ContentCodeBlock>
          &lt;img src=<span class="cb--green">"https://img.icons8.com/<span
            class="cb--violet">emoji</span>/avocado"</span>>
        </ContentCodeBlock>
        <p>
          Search icon in Emoji style. You may specify the style of icons that is displayed by adding a parameter to the
          url. The following styles are supported by Instant Icons:
        </p>
        <intersection-observer @intersect-enter="changeStickyIconState('avocadoEmoji')">
          <ContentList
            class="content-list--green content-list--flex"
            :options="styleOptions"
          />
        </intersection-observer>
      </ContentBox>
      <ContentBox title="Size">
        <ContentCodeBlock>
          &lt;img src=<span class="cb--green">"https://img.icons8.com/emoji/avocado/<span class="cb--violet">256</span>"</span>>
        </ContentCodeBlock>
        <p>
          Icons can be resized by adding a trailing parameter to the URL (up to 512x512px). While all icons will look
          good, each style has also been created to have a pixel-perfect size for extreme clarity as listed below.
        </p>
        <ContentList
          :options="sizeOptions"
        />
        <intersection-observer @intersect-enter="changeStickyIconState('avocadoEmojiSized')">
          <p @click="changeStickyIconState('avocado')">
            When possible, use multiplies of the pixel perfect style. For example, for iOS, use 50x50, 100x100, 150x150,
            etc.
          </p>
        </intersection-observer>
      </ContentBox>
    </div>
    <StickyIcon
      ref="stickyIcon"
    />
  </section>
</template>

<script>
  import StickyIcon from "./Content/StickyIcon";
  import ContentBox from "./Content/ContentBox";
  import ContentCodeBlock from "./Content/ContentCodeBlock";
  import ContentList from "./Content/ContentList";
  import IntersectionObserver from "~/plugins/intersection-observer";

  export default {
    name: "AppContent",
    components: {IntersectionObserver, ContentList, ContentCodeBlock, ContentBox, StickyIcon},
    methods: {
      changeStickyIconState(newStateName) {
        const stickyIconComponent = this.$refs.stickyIcon
        if (stickyIconComponent) {
          this.$refs.stickyIcon.changeState(newStateName)
        }
      }
    },
    data: () => ({
      styleOptions: [
        {text: 'iOS', link: 'https://google.com'},
        {text: 'Ice Cream', link: 'https://google.com'},
        {text: 'Material', link: 'https://google.com'},
        {text: 'Emoji', link: 'https://google.com'},
        {text: 'Color', link: 'https://google.com'},
        {text: 'Doodle', link: 'https://google.com'},
        {text: 'Windows 10', link: 'https://google.com'},
        {text: 'Infographic', link: 'https://google.com'},
        {text: 'Office', link: 'https://google.com'},
        {text: 'Windows Metro', link: 'https://google.com'},
        {text: 'Cute Outline', link: 'https://google.com'},
        {text: 'Cloud', link: 'https://google.com'},
        {text: 'Cute Color', link: 'https://google.com'},
        {text: 'Circle Bubbles', link: 'https://google.com'},
        {text: 'Blue UI', link: 'https://google.com'},
        {text: 'Color Hand Drawn', link: 'https://google.com'},
        {text: 'Dotted', link: 'https://google.com'},
        {text: 'Hand Drawn', link: 'https://google.com'},
        {text: 'Gradient Line', link: 'https://google.com'},
        {text: 'Pastel Glyph', link: 'https://google.com'},
        {text: 'Simple Small', link: 'https://google.com'},
        {text: 'Cute Clipart', link: 'https://google.com'},
        {text: 'Pastel', link: 'https://google.com'}
      ],
      sizeOptions: [
        {text: 'iOS: 50x50'},
        {text: 'Windows 10: 32x32'},
        {text: 'Android : 24x24'},
        {text: 'Color: 48x48'},
        {text: 'Office: 16x16, 30x30, 40x40, 80x80'}
      ]
    })
  }
</script>

<style lang="scss">
  .content {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

    &__wrapper {
      width: 50%;
      @media screen and (max-width: 767px){
        width: 100%;
      }
    }
  }

  .cb {
    &--green {
      color: #6ABB6D;
    }

    &--violet {
      color: #9185C0;
    }
  }

</style>
