<template>
  <header class="header">
    <span class="header__left">
      <span class="header__logo-box">
        <img src="~/assets/icons/icons8-logo.svg" alt="Icons8 logo">
        <span class="header__logo-text">
          Icons
        </span>
        <img src="~/assets/icons/arrow-menu.svg" alt="arrow">
      </span>
      <span class="header__menu">
        <HeaderMenuLink title="Icons" />
        <HeaderMenuLink title="Icons" />
        <HeaderMenuLink
          title="Icons3"
          :sublist="defaultSubList"
        />
        <HeaderMenuLink title="Icons" />
        <HeaderMenuLink title="Icons" />
      </span>
    </span>
    <span class="header__right">
      <span class="header__menu">
        <HeaderMenuLink title="Desktop app" />
        <HeaderMenuLink title="Pricing" />
        <HeaderMenuLink title="En" />
      </span>
    </span>
  </header>
</template>

<script>
  import HeaderMenuLink from "./Header/HeaderMenuLink";

  const defaultSubList = [
    {
      title: "Point one",
      link: "https://youtube.com"
    },
    {
      title: "Point two",
      link: "https://youtube.com"
    }
  ]

  export default {
    name: "Header",
    components: {HeaderMenuLink},
    data: () => ({ defaultSubList })
  }
</script>

<style scoped lang="scss">
  .header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;

    background-color: #222222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    &__logo {
      &-text {
        ;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.32px;
        color: white;
        margin: auto 12px;
      }

      &-box {
        margin-right: 60px;
      }
    }
  }
</style>
