<template>
  <div class="banner-integrate-card">
    <div class="banner-integrate-card__section banner-integrate-card__section--text">
      <div class="banner-integrate-card__title">
        API access
      </div>
      <div class="banner-integrate-card__price">
        From $99.90
      </div>
      <div class="banner-integrate-card__subtitle">
        Access to our assets programmatically. <br>
        APIs for icons, photos, illustrations, music
      </div>
      <div class="banner-integrate-card__buttons">
        <AppButton class="banner-integrate-card__button">
          <a href="https://icons8.com">Get API access</a>
        </AppButton>
        <AppButton class="banner-integrate-card__button app-button--light">
          <a href="https://icons8.com">API Documentation</a>
        </AppButton>
      </div>
    </div>
    <div class="banner-integrate-card__section">
      <img
        class="banner-integrate-card__image"
        src="~/assets/images/code_example.svg"
        alt="Code example"
      >
      <img
        class="banner-integrate-card__image banner-integrate-card__image--rabbits"
        src="~/assets/images/rabbits.svg"
        alt="Rabbits"
      >
    </div>
  </div>
</template>

<script>
  import AppButton from "./elements/AppButton";
  export default {
    name: "AppIntegrateBannerCard",
    components: {AppButton}
  }
</script>

<style scoped lang="scss">
  .banner-integrate-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 4px;
    background-color: white;
    @media screen and (max-width: 767px){
      width: 100%;
    }

    &__section {
      width: 50%;
      position: relative;

      @media screen and (max-width: 767px){
        width: 100%;
        display: none;
      }

      &--text {
        padding: 40px;
        box-sizing: border-box;
        @media screen and (max-width: 767px){
          display: block;
          padding: 20px;
        }
      }
    }

    &__title {
      ;
      font-weight: 500;
      font-size: 21px;
      line-height: 24px;
    }

    &__price {
      ;
      font-weight: 600;
      font-size: 15px;
      line-height: 28px;
      color: #1FB141;
      margin-top: 10px;

    }

    &__subtitle {
      ;
      font-size: 15px;
      letter-spacing: -0.01em;
      color: #000000;
      margin: 30px 0;
      line-height: 28px;
    }

    &__card {
      background: #FFFFFF;
      border-radius: 4px;
    }

    &__buttons {
      display: flex;
      @media screen and (max-width: 767px){
        flex-wrap: wrap;
        button {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &__button {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }

    &__image {
      position: absolute;
      bottom: 0;

      &--rabbits {
        left: 40%;
      }
    }
  }
</style>
