<template>
  <div class="banner-integrate">
    <div class="banner-integrate__title">
      Integrate our icons to your projects
    </div>
    <div class="banner-integrate__subtitle">
      Instant Icons is built for use in small, low-traffic applications. <br>
      For production uses, we recommend the official Icons8 API
    </div>
    <AppIntegrateBannerCard />
  </div>
</template>

<script>
  import AppIntegrateBannerCard from "./AppIntegrateBannerCard";
  export default {
    name: "AppIntegrateBanner",
    components: {AppIntegrateBannerCard}
  }
</script>

<style scoped lang="scss">
  .banner-integrate {
    background-color: #F6F6F6;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;

    &__title {
      ;
      font-weight: 900;
      font-size: 32px;
      color: #000000;
    }

    &__subtitle {
      ;
      font-size: 17px;
      letter-spacing: -0.01em;
      color: #000000;
      margin: 20px 0 40px;
      line-height: 28px;
    }

    &__card {
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
</style>
