<template>
  <section class="banner-more">
    <div class="banner-more__title">
      Want more options? Use one of our free apps!
    </div>
    <div class="banner-more__subtitle">
      <a href="https://icons8.com">Download free icons</a> no matter what your workflow
    </div>
    <div class="banner-more__apps">
      <div class="banner-more__app">
        <BannerApp
          image="lunacy.png"
          subtitle="Graphic design software with built-in assets"
          :platforms="lunacyPlatforms"
        >
          <img
            src="~/assets/icons/lunacy.svg"
            alt="Lunacy icon"
          >
          <a href="https://icons8.com">Lunacy</a>
        </BannerApp>
      </div>
      <div class="banner-more__app">
        <BannerApp
          image="desktop.png"
          subtitle="Native apps for most popular operation systems"
          :platforms="desktopPlatforms"
        >
          Desktop app
        </BannerApp>
      </div>
      <div class="banner-more__app">
        <BannerApp
          image="plugin.png"
          subtitle="Check out our fresh plugins for Figma & Sketch"
          :platforms="pluginPlatforms"
        >
          Plugin
        </BannerApp>
      </div>
    </div>
  </section>
</template>

<script>
  import BannerApp from "./Banner/BannerApp";
  export default {
    name: "AppMoreAppsBanner",
    components: {BannerApp},
    data: () => ({
      lunacyPlatforms: [
        {
          name: 'Windows',
          iconName: 'windows.svg',
          link: "https://icons8.com",
        }
      ],
      desktopPlatforms: [
        {
          name: 'Windows',
          iconName: 'windows.svg',
          link: "https://icons8.com",
        },
        {
          name: 'Mac OS',
          iconName: 'macos.svg',
          link: "https://icons8.com",
        }
      ],
      pluginPlatforms: [
        {
          name: 'Figma',
          iconName: 'figma.svg',
          link: "https://icons8.com",
        },
        {
          name: 'Sketch',
          iconName: 'sketch.svg',
          link: "https://icons8.com",
        }
      ]
    })
  }
</script>

<style scoped lang="scss">
  .banner-more {
    padding: 100px 5%;

    &__title {
      font-family: SFUIText-Semibold, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: #000000;
      text-align: center;
    }

    &__subtitle {
      font-family: SFUIText-Regular, sans-serif;
      font-size: 17px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-align: center;
      margin: 20px 0 70px;
      a {
        color: #1fb141;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(31, 177, 65, 0.2);
      }
    }

    &__apps {
      display: grid;
      grid-template-columns: 3fr 4fr 3fr;
      @media screen and (max-width: 767px){
        grid-template-columns: none;
        grid-column: 1;
      }
    }
    &__app {
      padding: 0 20%;
      box-sizing: border-box;
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      border-right: 1px solid rgba(0, 0, 0, 0.05);

      &:nth-child(1) {
        padding: 0 25% 0 0;
        border-left: none;
      }

      &:nth-child(3) {
        padding: 0 0 0 25%;
        border-right: 0;
      }
      @media screen and (max-width: 767px){
        padding: 0;
        border: none;
        margin-bottom: 80px;
        &:nth-child(1), &:nth-child(3) {
          padding: 0;
        }
      }
    }
  }
</style>
