<template>
  <button class="app-button">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: "AppButton",

  }
</script>

<style scoped lang="scss">
 .app-button {
   padding: 15px 30px;
   box-sizing: border-box;
   ;
   font-weight: 600;
   font-size: 14px;
   color: #FFFFFF;

   background: #1FB141;
   border-radius: 4px;
   border: none;

   a {
     text-decoration: none;
     color: inherit;
   }

   &--light {
     color: #1FB141;
     background: rgba(31, 177, 65, 0.1);
   }
 }
</style>
