<template>
  <div class="field field--autocomplete">
    <div
      class="field__content"
      :class="{'field__content--open': options.length > 0}"
    >
      <span>https://img.icons8.com/</span>
      <input
        type="text"
        v-model="fieldData"
        :placeholder="placeholder"
        @input="reloadOptions"
      >
    </div>
    <div
      class="field__options"
      :class="{'field__options--hidden': options.length === 0}"
    >
      <div
        class="field__option"
        v-for="option in options"
        :key="option.id"
        @click="openModal(option)"
      >
        <img
          :src="option.defaultSrc"
          :alt="option.name"
        >
        <span v-html="highlightText(fieldData, option.name)"></span>
      </div>
    </div>
    <IconInfoModal
      :icon="selectedOption"
      :style="{display: showModal ? 'block' : 'none'}"
      @close="showModal=false"
    />
  </div>
</template>

<script>
  import {findIcon} from "~/api/icons";
  import IconInfoModal from "~/components/Modal/IconInfoModal";
  import utils from '~/utils'

  export default {
    name: "AutocompleteField",
    components: {IconInfoModal},
    data: () => ({
      fieldData: '',
      options: [],
      selectedOption: {},
      showModal: false,
    }),
    props: {
      placeholder: {
        type: String,
        default: 'placeholder',
      },
    },
    methods: {
      async reloadOptions() {
        this.options = []
        const response = await findIcon(this.fieldData)
        this.options = response.data.icons
        console.log(utils.generateIconSrc)
        this.options = this.options.map((icon) => ({
            ...icon,
            ...utils.generateIconSrc(icon)
        }))
      },
      highlightText(query, result) {
        const queryStartPosition = result.toLowerCase().indexOf(query.toLowerCase())
        if (queryStartPosition === -1) {
          return result
        }
        return result.substr(0, queryStartPosition)
          + `<span class="field__option--query">${result.substr(queryStartPosition, queryStartPosition + query.length)}</span>`
          + result.substr(queryStartPosition + query.length)
      },
      openModal(option) {
        this.selectedOption = option;
        this.showModal = true;
      }
    }
  }
</script>

<style lang="scss">
  .field {
    &__content {
      padding: 30px;
      width: 100%;
      box-sizing: border-box;
      outline: none;

      background-color: #FFFFFF;
      border-radius: 4px;

      ;
      font-size: 21px;
      color: #000000;
      @media screen and (max-width: 767px){
        font-size: 15px;
        padding: 15px;
        &--open {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      input {
        border: none;
        font-size: 21px;
        outline: none;
        padding: 0;
        margin-left: -5px;
        @media screen and (max-width: 767px){
          font-size: 15px;
          width: 40%;
        }
      }
    }

    &__options {
      background: white;
      color: black;
      z-index: 3;
      width: 40%;
      margin: 0 auto;
      @media screen and (max-width: 767px){
        width: 100% ;
      }
      border: 1px solid #e5e5e5;
      border-top: none;
      box-sizing: border-box;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &--hidden {
        border: none;
      }
    }

    &__option {
      ;
      font-size: 14px;
      line-height: 28px;
      color: rgba(0, 0, 0, .5);
      padding: 13px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.03);

      }

      img {
        max-height: 25px;
        margin-right: 15px;
      }


      &--query {
        color: black;
      }
    }
  }
</style>
