<template>
  <Modal @close="$emit('close')">
    <div class="modal-iconinfo">
      <div class="modal-iconinfo__wrapper">
        <div class="modal-iconinfo__title">
          <img
            :src="icon.defaultSrc"
            :alt="name"
          >
          <span>{{ icon.name }}</span>
        </div>
        <div class="modal-iconinfo__codeblock">
          <div class="modal-iconinfo__label">
            Icon:
          </div>
          <ContentCodeBlock>
            &lt;img src="<span class="cb--green" v-html="icon.defaultSrc" />">
          </ContentCodeBlock>
        </div>
        <div class="modal-iconinfo__codeblock">
          <div class="modal-iconinfo__label">
            Style:
          </div>
          <ContentCodeBlock>
            &lt;img src="<span class="cb--green" v-html="icon.styleSrc" />">
          </ContentCodeBlock>
        </div>
        <div class="modal-iconinfo__codeblock">
          <div class="modal-iconinfo__label">
            HEX color:
          </div>
          <ContentCodeBlock>
            &lt;img src="<span class="cb--green" v-html="icon.hexColorSrc" />">
          </ContentCodeBlock>
        </div>
        <div class="modal-iconinfo__codeblock">
          <div class="modal-iconinfo__label">
            Size:
          </div>
          <ContentCodeBlock>
            &lt;img src="<span class="cb--green" v-html="icon.sizeSrc" />">
          </ContentCodeBlock>
        </div>
        <div class="modal-iconinfo__codeblock">
          <div class="modal-iconinfo__label">
            Full syntax:
          </div>
          <ContentCodeBlock>
            &lt;img src="<span class="cb--green" v-html="icon.srcSchema" />">
          </ContentCodeBlock>
        </div>
        <AppButton class="modal-iconinfo__button app-button--light">
          <a href="https://icons8.com">Read more</a>
        </AppButton>
        <ModalClose
          class="modal-iconinfo__close"
          @click.native="$emit('close')"
        />
      </div>
    </div>
  </Modal>
</template>

<script>
  import Modal from "./Modal";
  import ContentCodeBlock from "../Content/ContentCodeBlock";
  import AppButton from "../elements/AppButton";
  import ModalClose from "./ModalClose";

  export default {
    name: "IconInfoModal",
    components: {ModalClose, AppButton, ContentCodeBlock, Modal},
    props: {
      icon: {
        type: Object,
        default: () => {}
      }
    }
  }
</script>

<style scoped lang="scss">
  .modal-iconinfo {
    width: 50%;
    margin: 80px auto;
    position: relative;

    &__wrapper {
      max-height: calc(100vh - 160px);
      background: #FFFFFF;
      overflow-y: scroll;
      padding: 40px;
      box-sizing: border-box;
      border-radius: 8px;
    }
    


    &__title {
      display: flex;
      align-items: center;
      ;
      font-weight: 800;
      font-size: 32px;
      line-height: 50px;
      letter-spacing: -0.014em;
      color: #000000;
      margin-bottom: 40px;

      img {
        height: 50px;
        margin-right: 30px;
      }
    }

    &__label {
      ;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 10px;
    }

    &__codeblock {
      margin-bottom: 20px;
      color: black;
    }

    &__button {
      margin-top: 20px;
    }

    &__close {
      position: absolute;
      cursor: pointer;
      right: -60px;
      top: 0;
    }
  }
</style>
