<template>
  <div
    class="modal"
  >
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: "Modal",
    data: () => ({
      show: false
    })
  }
</script>

<style scoped lang="scss">
  .modal {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 1000;
  }
</style>
