<template>
  <div>
    <AppBanner />
    <AppContent />
    <AppIntegrateBanner />
    <AppMoreAppsBanner />
  </div>
</template>

<script>
  import AppBanner from "~/components/AppBanner";
  import AppContent from "../components/AppContent";
  import AppIntegrateBanner from "../components/AppIntegrateBanner";
  import AppMoreAppsBanner from "../components/AppMoreAppsBanner";
  export default {
    name: "index",
    components: {AppMoreAppsBanner, AppIntegrateBanner, AppContent, AppBanner}
  }
</script>

<style>

</style>
