<template>
  <div class="content-codeblock">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: "ContentCodeBlock"
  }
</script>

<style scoped lang="scss">
  .content-codeblock {
    padding: 15px;
    border-radius: 4px;
    background: #F6F6F6;

    font-family: IBM Plex Mono;
    font-size: 14px;
    line-height: 28px;
    @media screen and (max-width: 767px){
      overflow-x: scroll;
      line-break: anywhere;
    }
  }
</style>
