<template>
  <div class="contentbox">
    <div class="contentbox__title">
      {{ title }}
    </div>
    <div class="contentbox__text">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ContentBox",
    props: {
      title: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style scoped lang="scss">
 .contentbox {
   width: 100%;
    &__title {
      ;
      font-weight: 900;
      font-size: 32px;
      line-height: 50px;
      letter-spacing: -0.014em;
      margin-bottom: 40px;
    }
   &__text {
     ;
     font-size: 14px;
     line-height: 28px;
     color: #000000;
   }

   code {
     font-family: IBM Plex Mono, sans-serif;
     font-size: 14px;
     line-height: 28px;
     padding: 5px;
     border-radius: 3px;
     color: #000000;
     background: #F6F6F6;
   }

   p {
     margin-block-start: 40px;
     margin-block-end: 40px;
   }
 }
</style>
