<template>
  <ul class="content-list">
    <li
      v-for="option in options"
      :key="option.text"
    >
      <component
        :is="option.link ? 'a' : 'span'"
        :href="option.link"
      >
        {{ option.text }}
      </component>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "ContentList",
    props: {
      options: {
        type: Array,
        default: () => []
      }
    }
  }
</script>

<style scoped lang="scss">
  .content-list {
    display: block;
    ;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 16px;


    li {
      margin-top: 10px;
    }

    a {
      color: inherit;
      text-decoration: none;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -7px;
        height: 1px;
        background-color: #1FB141;
        opacity: .2;
      }
    }

    &--green {
      color: #1FB141;
    }
    &--flex {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
  }
</style>
