<template>
  <aside class="stickyicon">
    <div>
      <transition name="smooth-change" mode="out-in">
        <img
          :src="require(`~/assets/icons/avocado/${ currentState.filename }`)"
          :key="currentState.filename"
          alt="Avocado_1"
        >
      </transition>
      <transition name="smooth-change" mode="out-in">
        <span
          class="stickyicon__text"
          :key="currentState.text"
        >{{ currentState.text }}</span>
      </transition>
    </div>
  </aside>
</template>

<script>
  export default {
    name: "StickyIcon",
    data: () => ({
      currentState: {
        filename: 'avocado_1.svg',
        text: 'avocado',
      },
      states: {
        avocado: {
          filename: 'avocado_1.svg',
          text: 'avocado'
        },
        avocadoColor: {
          filename: 'avocado_2.svg',
          text: 'avocado, #1FB141'
        },
        avocadoEmoji: {
          filename: 'avocado_3.svg',
          text: 'avocado, emoji'
        },
        avocadoEmojiSized: {
          filename: 'avocado_4.svg',
          text: 'avocado, emoji, 256x256'
        },
      }
    }),
    methods: {
      changeState(newStateName) {
        const selectedState = this.states[newStateName]
        if (selectedState) {
          this.currentState = selectedState
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .stickyicon {
    top: 40px;
    position: sticky;
    background: #F6F6F6;
    border-radius: 4px;

    width: 45%;
    align-self: flex-start;
    flex-grow: 0;

    @media screen and (max-width: 767px){
      display: none;
    }

    & > div {
      padding-bottom: 100%;
    }

    img {
      display: block;
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__text {
      position: absolute;
      left: 40px;
      bottom: 40px;

      font-family: IBM Plex Mono, sans-serif;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.04em;
      color: rgba(0, 0, 0, .5);
    }
  }

  .smooth-change {
    &-enter-active {
      transition: all .15s ease-in-out;
    }
    &-leave-active {
      transition: all .15s ease-in-out;
    }
    &-enter, &-leave-to {
      opacity: 0;
    }
  }
</style>
